* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f6f4ef;
}

/* Login */

.login-container {

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 400px;
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo h1 {
    color: #d97706;
    margin-bottom: 10px;
}

.logo p {
    color: #666;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: .3s;
}

.form-group input:focus {
    border: 1px solid #d97706;
}

.login-btn {
    width: 100%;
    padding: 13px;
    border: none;
    background: #d97706;
    color: #fff;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
}

.login-btn:hover {
    background: #b45309;
}

/* Sidebar */

.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #4b2e1f;
    color: white;
    padding: 25px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    color: #ffcf70;
}

/* Main */

.main {
    margin-left: 270px;
    padding: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    color: #4b2e1f;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
}

.card h3 {
    color: #555;
    margin-bottom: 15px;
}

.card h2 {
    color: #d97706;
}

/* Table */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background: white;
}

table th {
    background: #d97706;
    color: white;
    padding: 15px;
}

table td {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.approve {
    background: green;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.reject {
    background: red;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

input,
textarea,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

.submit-btn {
    background: #d97706;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #b45309;
}

@media(max-width:768px) {

    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }

    .main {
       margin-left: 0;
    }

    .login-card {
        width: 90%;
    }

    .cards {
       grid-template-columns: 1fr;
    }
}